/** {
  margin: 0;
  padding: 0;
}*/

.thumbnail img {
  min-height: 250px;
  height: 25px;
}

.row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.profile {
  margin: 1em;
}

.header {
  width: 100%;
  height: 50vh;
  background-image: url ('images/group.JPG');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.logo {
  margin: 0 auto;
  width: 20rem;
  height: 10rem;
}
