<header class = "header">


<div id="banner">
   <a href="#home"><img class="logo" src="/images/logo.png" alt=""></a>
   <h1>A simple application to lookup Facsters in Nazareth</h1>
</div>

</header>
