<header class="header-block">
	<div class="header-content"> <!-- Position flexbox -->
		<a href="#"><img class="logo" src="/public/images/logo.png" alt=""></a>
      <h1>A simple application to lookup Facsters in Nazareth</h1>
	</div>
</header>
